<h1>User Created Meals</h1>

<% @meals.each do |meal| %>
<div class="meals">
  <p><%= link_to meal.title, meal %></p>
  <p><%#= link_to meal.img_url, meal %></p>
  <img src="<%= meal.img_url %>">
</div>

<% end %>
